{% extends "CursosApp/base.html" %}



{% block section1 %}

<br>
<br>
<br>
<br>


<div class="container">
    <h1>Agregar un Comentario</h1>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ formulario.nombre.label_tag }}
            {{ formulario.nombre }}
        </div>
        <div class="form-group">
            {{ formulario.mensaje.label_tag }}
            {{ formulario.mensaje }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Comentario</button>
    </form>
</div>




<br>
{% endblock %}