
{% extends "CursosApp/base.html"%}
{% load static %}


{% block title %} Infusores {% endblock title %}


{% block section1 %}
<br>
<br>
<br>
<br>
<br>

<h1>Curso Infusores</h1>
<br>
<br>
<br>
<br>
<br>

<p>El objetivo de este curso te brindara las herramientas para poder obtener café con diferentes métodos de filtro, el cual puede ser aplicado para uso domestico o profesional.
Ideal para los que aman hacer un rico y buen café en casa sin la necesidad de tener conocimiento previo.






Duración: 2 clases, de 2hs.</p>


{% endblock %}

