{% extends "CursosApp/base.html"%}
{% load static %}
<link href="{% static 'CursosApp/css/tarjetas.css' %}" rel="stylesheet" />
{% block title %} Cursos {% endblock title %}

{% block section1 %}

{% if not request.user.is_authenticated %}

<br>
<br>
<br>
<br>
    <center>
        <h2>Debes iniciar sesión...</h2>
    </center>
    
<br>
{% endif %}
{% if request.user.is_authenticated %}
    <body>
        <br>
        <br>
        <br>
        <br>

            <center>
                <h1> Cursos de Cafe - Barista</h1>
                <br>
                <br>
            </center>

                <div class="row">
                    {% for curso in cursos %}
                        <div class="card" style="width: 18rem; left: 70px; background-color: darkcyan;" >
                            <img src="{{curso.imagen.url}}" class="card-img-top" alt="..." style="height: 200px;">
                            <div class="card-body">
                            <h3 class="card-title" style="color: aliceblue;">{{ curso.nombre }}</h3>
                            <p class="card-text" style="color: aliceblue;">TUTOR: {{ curso.tutor }}</p>
                            {% if curso.id == 1 %}
                            <a href= "{% url 'Filtrado' %}" class="btn btn-primary">Ver</a>
                            <a href="!#" class="btn btn-primary">Inscribirse</a>
                            {%endif%}
                            {% if curso.id == 2 %}
                            <a href= "{% url 'Arte' %}" class="btn btn-primary">Ver</a>
                            <a href="!#" class="btn btn-primary">Inscribirse</a>
                            {%endif%}
                            {% if curso.id == 3 %}
                            <a href= "{% url 'Barista' %}" class="btn btn-primary">Ver</a>
                            <a href="!#" class="btn btn-primary">Inscribirse</a>
                            {%endif%}
                            {% if curso.id == 4 %}
                            <a href= "{% url 'Expreso' %}" class="btn btn-primary">Ver</a>
                            <a href="!#" class="btn btn-primary">Inscribirse</a>
                            {%endif%}
                            {% if curso.id == 5 %}
                            <a href= "{% url 'Infusores' %}" class="btn btn-primary">Ver</a>
                            <a href="!#" class="btn btn-primary">Inscribirse</a>
                            {%endif%}
                            {% if curso.id == 6 %}
                            <a href= "{% url 'Tostado' %}" class="btn btn-primary">Ver</a>
                            <a href="!#" class="btn btn-primary">Inscribirse</a>
                            {%endif%}

                            </div>
                        </div>
                    {% endfor %}
                </div>

            <br>
            <br>
            
    </body>
{% endif %}


















{% endblock %}