{% extends "CursosApp/base.html"%}
{% load static %}


{% block title %} {{curso.nombre}} {% endblock title %}


{% block section1 %}

<body>
<br>
<br>
<br>
<br>
<br>
<h1 align="center">{{curso.nombre}}</h1>
<br>
<br>

<h3 align="center">
 Tutor = {{curso.tutor }}  <br>
 Cupo = {{curso.cupo }}    <br>
 Fecha = {{curso.fecha }}   <br>
 



</h3>

<br>
<br>
<br>
<br>
<br>
<h3> {{ curso.descripcion }} </h3>


<br>
<br>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not curso.comentarios.all %}
        No han comentado este curso
    {% else %}
        {% for comentario in curso.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    {% if curso.id %}
    <a href="{% url 'crear_comentario' curso.id %}">Crear Comentario</a>
{% else %}
    <p>El ID del curso no es válido.</p>
{% endif %}
    </div>
</div>
<br>
<br>



Duración: 2 clases, de 2hs.</p>


{% endblock %}
