
{% extends "CursosApp/base.html"%}
{% load static %}


{% block title %} Curso Filtrado {% endblock title %}


{% block section1 %}
<br>
<br>
<br>
<br>
<br>

<h1>Especializacion Filtrados</h1>
<br>
<br>
<br>
<br>
<br>

<p>En estas clases se presentaran y practicarán los distintos diseños creados en la superficie de expresos por un barista. Con el aumento del renombre del arte del latte y la presentación artística en la taza, han emergido competiciones por todo el mundo para permitir a los baristas demostrar sus habilidades. El arte del latte es considerado por muchos consumidores de café el toque final.






Duración: 2 clases, de 6hs.</p>
{% endblock %}
