{% extends "CursosApp/base.html"%}
{% load static %}


{% block title %} {{curso.nombre}} {% endblock title %}


{% block section1 %}

<body>
<br>
<br>
<br>
<br>
<br>
<h1 align="center">{{curso.nombre}}</h1>
<br>
<br>

<h3 align="center">
 Tutor = {{curso.tutor }}  <br>
 Cupo = {{curso.cupo }}    <br>
 Fecha = {{curso.fecha }}   <br>
 

{% if request.user.is_superuser %}
Soy SuperUser, puedo editar
{% endif %}

</h3>

<br>
<br>
<br>
<br>
<br>
<h3> {{ curso.descripcion }} </h3>


<br>
<br>
<br>
<br>
<br>



Duración: 2 clases, de 2hs.</p>


{% endblock %}
