{% extends "CursosApp/base.html"%}
{% load static %}

{% block title %} Bienvenidos - Blog-Cafe {% endblock title %}

{% block section1 %}


        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/static/CursosApp/assets/img/blog1.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Especialización Filtrados</h2>
                            <p>Este curso te brindara las herramientas para poder obtener café con diferentes métodos de filtro, el cual puede ser aplicado para uso domestico o profesional.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/static/CursosApp/assets/img/curso2.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Especialización<br>Arte-Latte</h2>
                            <p>Perfeccionaremos las técnicas de texturización y emulsión de la leche para realizar las figuras básicas (corazón, tulipán y rosetta).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/static/CursosApp/assets/img/curso3.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Barista y Arte Latte</h2>
                            <p>Aprenderás todos los aspectos desde la planta hasta la taza. Un curso destinado a toda aquella persona que quiera introducirse en el mundo
                                del café..</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}