.custom-cursos-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.custom-course-image {
    max-width: 400px;
    max-height: 400px;
    margin-right: 20px;
    margin-top: 20px;
}

.custom-titulo {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

.custom-informacion {
    color: #666;
    font-size: 18px;
}

.custom-descripcion {
    font-size: 16px;
    flex: 3;
    margin-top: 20px;
}

.custom-comentarios {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 25%;
    margin-left: 20px;
    overflow-y: scroll;
    margin-top: 20px;
}

.custom-duration {
    font-size: 16px;
    margin-bottom: 20px;
}

.custom-create-comment {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.custom-create-comment:hover {
    background-color: #0056b3;
}
