/* Estilo para las tarjetas */
.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: rgb(6, 121, 121);
  width: 100%;
  max-width: none;
  border-radius: 10px; 
}

.card-img-top {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
  object-position: center;
  border-radius: 10px; 
}

.card-body {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}

.card-title {
  color: aliceblue;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  color: aliceblue;
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: auto;
  margin-left: auto;
  display: block;
  margin-right: 10px;
  font-size: 1.2rem; 
  padding: 10px 20px; 
}
